@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.imgClass {
  height: 600px;
  width: 600px;
  padding: 50px;
}

h3 {
  font-family: "Indie Flower", cursive;
}

.wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
