@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.imgClass {
  height: 30%;
  width: 30%;
  padding: 4%;
}

h3 {
  font-family: "Indie Flower", cursive;
  font-size: 1.2rem;
}

.wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
